

/* Fondo tipo cuaderno */
body {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1" height="1" viewBox="0 0 60 60"><circle cx="7.5" cy="7.5" r="3" fill="rgba(0, 0, 0, 0.3)"/></svg>') repeat;
  background-size: 20px 20px; /* Ajusta el tamaño del patrón */
}

/* Fuente */
* {
  font-family: "Bai Jamjuree";
} 


/* Banner*/

.bannercontainer {
  background-color: #f792c8;
  border-bottom: #000000 1px solid;
  border-top: #000000 1px solid;
}

.bannercontainer .bigbutton {
  min-width: 200px;
  min-height: 55px;
  background-color: #000000;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 7px 7px 0 0 #FFD700;
  border-radius: 4px;
  cursor: pointer;
}

.bannercontainer .titulo {
  font-size: 57px;
  font-weight: 700;
}

.bannercontainer .textobanner {
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .bannercontainernofluid {
    padding-bottom: 26px; /* Padding bottom de 30 px */
    padding-top: 16px;
  }
}






/* ventajas */
.ventajascontainer{
  .tituloventajas {
    font-size: 50px ;
    font-weight: 700;
  }
  .cardcolorventajas1{
  background-color: #f792c8 ;
  border-color: #000000 ;
  }
  .cardcolorventajas2{
    background-color: #2dc4b6 ;
    border-color: #000000 ;
  }
  .cardcolorventajas3{
    background-color: #FFD700 ;
    border-color: #000000 ;
  }
}


/* logitos de las ventajas */
.ventajasimagenes {
  max-width: 80px;
}

/* precios */
.precioscontainer{
  .tituloprecios {
    font-size: 50px;
    font-weight: 700  ;
    }
  .cardcolor1 {
    background-color: #f792c8 ;
    border-color: #000000 ;
    min-height: 430px;
    max-width: 310px;
  }
  
  .cardcolor2 {
    background-color: #2dc4b6 ;
    border-color: #000000 ;
    max-width: 310px;
    min-height: 430px;
  }
  
  .cardcolor3 {
    background-color: #ffe600 ;
    border-color: #000000 ;
    min-height: 430px;
    max-width: 310px;
  }
  .titulomensualidad{
    font-weight: 900;
    font-size: 35px;
  }
  .fa-circle-check{
    color: rgb(0, 0, 0) !important;
    font-size: 18px;
    margin-right: 4px;
  }
}


/* Video.css */

.video-container {
  position: relative;
  padding-bottom: 50%; /* Proporción 16:9 */
  border-radius: 25px;

  overflow: hidden;
}

.video-iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}


/* analisis */


.ampolletacontainer {
  border-bottom: #000000 1px solid;
  border-top: #000000 1px solid;
  .divisor{
    background-color: #2dc4b6 ;
    border-right: #000000 1px solid;
  }
  .ampolleta{
    max-width: 422px;
    max-height: 527px;
  }
  .titulo {
    font-size: 50px;
    font-weight: 700;
  };
  h3{
    font-size: 26px;
    font-weight: 700;
  }
  
}


/* section */

.sectioncontainer {
  background-color: #f792c8;
  border-bottom: #000000 1px solid;
}

.sectioncontainer .titulo {
  font-size: 50px;
  font-weight: 700;
}

.sectioncontainer .textobanner {
  font-size: 18px;
  font-weight: 400;
}

.sectioncontainer .ampolleta {
  max-width: 422px;
  max-height: 527px;
}

.sectioncontainer h3 {
  font-size: 26px;
  font-weight: 700;
}

@media (max-width: 767px) {
   .image-wrapper {
    padding-top:8px; /* Padding top de 16 px */
  }

  .text-wrapper{
    padding-bottom: 6px;
  }
  
  
  .sectioncontainer .ampolleta {
    max-width: 100%;
    height: auto;
  }
}



/* analisis2 */


.ampolletacontainer2 {
  .divisor2{
    border-left: #000000 1px solid !important;
    background-color:  #FFD700; 
  }
  .ampolleta{
    max-width: 422px;
  }
  .titulo {
    font-size: 50px;
    font-weight: 700;
  };
  h3{
    font-size: 26px;
    font-weight: 700;
  }
}

/* section 2*/

.sectioncontainer2 {
  background-color: #2dc4b6 ;
  border-bottom: #000000 1px solid;
  border-top: #000000 1px solid;
 
  .bigbutton {
    min-width: 200px;
    min-height: 55px;
    background-color: #000000 ;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 7px 7px 0 0 #FFD700; 
    border-radius: 4px; 
    cursor: pointer;
  };
  .titulo {
    font-size: 50px;
    font-weight: 700;
  };
  .textobanner {
    font-size: 18px;
    font-weight: 400;
  };
}

/* footer */

.botonfooter{
  background-color: #2dc4b6 !important;
}







/* Efectos */

.fade-in-card {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.6s ease-out;
}
.fade-in-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.zoom-on-hover {
  transition: transform 0.3s ease-in-out;
}

.zoom-on-hover:hover {
  transform: scale(1.05);
}

i {
  font-size: 30px;
  color: rgb(24, 24, 24) !important;
}

html, body {
  justify-content: center;
  overflow-x: hidden;


}



/* footer */

li{
  color: black !important ;
}